h1{
    text-align: center;
    margin: 3%;
}
h2{
    text-align: center;
    background-color: #343A40;
    color: darkorange;
    padding: 2%;
    margin-bottom: 5%;
    border-color: darkorange;
    border-style: solid;
}
h3{
    text-align: center;
    background-color: #343A40;
    color: white;
    padding: 2%;
    margin-bottom: 5%;
    border-color: darkorange;
    border-style: solid;
}

iframe {
    margin-left: 25%;
    margin-top: 5%;
    width: 40%;
}
p +p +p +p{
    text-align: justify;
    margin-bottom: 5%;

}
p:not(.foo){
    padding-left: 2%;
}
ul:not(#nav){
    margin-bottom: 2%;
}
.foo{
    text-align: justify;
    font-weight: normal;
    font-size: 2vh;
    padding: 1%;
    margin: 1%;
}
#headerimage{
    width: 50%;
    height: 40%;
    margin-left: 15%;
}
#logo{
    width: 10%;
}
body, html{
    overflow-x: hidden;
}