h1{
   text-align: center;
   background-color: #343A40;
   color: darkorange;
   padding: 2%;
   margin-bottom: 5%;
   margin-top: 5%;
   border-color: darkorange;
   border-style: solid;
}
h2{
   text-align: center;
   background-color: #343A40;
   color: white;
   padding: 2%;
   margin-bottom: 5%;
   border-color: darkorange;
   border-style: solid;
}
p:not(foo){
   padding-left: 2%;
}
.gallery_box_single{
   display: flex;
   flex-wrap: wrap;

}
.img{
   padding: 1%;
}
.foo{
   text-align: justify;
   font-weight: normal;
   font-size: 2vh;
   padding: 1%;
   margin: 1%;
}
#nav{
   display: flex;
   justify-content: space-between;
}

#headerimage{
   width: 50%;
   height: 40%;
   margin-left: 15%;
}
#logo{
   width: 10%;
}
body, html{
   overflow-x: hidden;
}
#carouselControls{
   width: 50%;
   margin: auto;
}